.header_area_title {
	display: inline-block;
}

.header_area_button {
	position: absolute;
	display: inline-block;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

.header_button_theme {
    display: inline-block;
    padding: 2px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    color: var(--color-txt-0);
    background-color: var(--color-img-2);
    width: 80px;
    height: 45px;
    transition: all 0.1s;
    text-align: center;
}

.header_button_theme:hover {
    transform: scale(1.05);
}

.theme_dark {
    --header-button-theme-circle-offset: -50%;
}
.theme_light {
    --header-button-theme-circle-offset: 50%;
}

.header_button_theme_circle {
    border-radius: 100%;
    background-color: var(--color-hl-0);
    transition: all 0.1s;
    width: 35px;
    height: 35px;
    top: 50%;
    display: inline-block;
    position: relative;
    transform: translate(var(--header-button-theme-circle-offset), -50%);
}
.header_button_theme_circle:hover {
    background-color: var(--color-hl-1);
}
