@media (aspect-ratio > 1) {
	:root {
        --margin-main: 25%;
	}
}
@media (aspect-ratio < 1) {
	:root {
		--margin-main: 5%;
	}
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-img-1);
	font-family: "Segoe UI", Tahoma, sans-serif;
	padding: 0;
	margin: 0;
}

/* Used to allow animated transitions when changing theme during runtime */
body, body * {
	transition: all 0.5s ease-in-out;
}

header {
	text-align: center;
	box-shadow: 0px 4px 10px black;
	top:0;
	left:0;
	right:0;
	padding: 1rem;
	margin: 0;
	position: sticky;
	z-index: 10;
	background-color: var(--color-img-0);
}

main {
	animation: mainFadeInAnimation 1s ease-out;
	/*max-width: 50%;*/
	margin-left: var(--margin-main);
	margin-right: var(--margin-main);
	margin-top: 50px;
	margin-bottom: 50px;
}
@keyframes mainFadeInAnimation {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
