.header_area_title {
	display: inline-block;
}

.header_area_button {
	position: absolute;
	display: inline-block;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

.header_button_theme {
    display: inline-block;
    padding: 2px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    color: var(--color-txt-0);
    background-color: var(--color-img-1);
    width: 80px;
    height: 45px;
    transition: all 0.1s;
    text-align: center;
}

.header_button_theme:hover {
    transform: scale(1.05);
}
