.dra_div_section_bottom {
	border-bottom-width: 1px;
	border-bottom-color: rgba(200, 200, 200, 0.5);
	border-bottom-style: solid;
}

.dra_div_section_top {
	border-top-width: 1px;
	border-top-color: rgba(200, 200, 200, 0.5);
	border-top-style: solid;
}

.dra_div_hover:hover {
	/*color: blue;*/
	transition-duration: 1s;
	transform:scale(1.01);
	/*transform:translateY(-5px);*/
}

.dra_div_hover {
	transition-duration: 1s;
	/*transform:scale(1);*/
}

.dra_div_center {
	text-align: center;
}

a {
	color: blue;
}

a:hover {
	color: blue;
	font-weight: bold;
}

.dra_div_w500px {
	width: 500px;
	background-color: antiquewhite;
}
